<h1>Pedidos aqui</h1>

<div>
    {{#each pedidos}}
    <figure>
        <blockquote>
            "{{this.nome}}"
        </blockquote>
        <blockquote>
            "{{this.email}}"
        </blockquote>
        <blockquote>
            "{{this.telefone}}"
        </blockquote>
        <blockquote>
            "{{this.assunto}}"
        </blockquote>
        <blockquote>
            "{{this.descricao}}"
        </blockquote>
        <form action="/remove" method="POST">
        <input type="hidden" name="id" value="{{this.id}}">
        <a href="/pedidos/editar{{this.id}}" class="button-25">Editar</a>
        <input type="submit" value="Excluir" class="button-25">
        </form>
        <hr>
    </figure>
    {{/each}}
</div>